.poppins-font {
  font-family: "Poppins", sans-serif;
}
/* shared-style */
.flex {
  display: flex;
}
.btn {
  border-radius: 41px;
  padding: 10px 24px;
  background: #e02c6d;
  border: none;
  color: white;
}
main {
  width: 1440px;
  margin: 0 auto;
}
/* shared-style */

/* nav-css */
.nav-bar {
  justify-content: space-around;
  align-items: center;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  margin: 10px 30px;
  color: #3a3a3a;
}
.banner-content {
  justify-content: space-around;
  align-items: center;
}
.banner-content-area {
  width: 40%;
  /* padding-left: 120px; */
}
.banner-title {
  color: rgb(58, 58, 58);
  font-size: 52px;
  font-weight: 700;
  text-align: left;
}
.banner-desc {
  color: rgb(58, 58, 58);
  font-size: 1rem;
  font-weight: 600;
}
.banner-img img {
  width: 60%;
}
/* nav-css */
/* sponsor-css */
.spoonser {
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
/* sponsor-css */

/* poular-collection-css */
.collection {
  margin-top: 100px;
}
.section-title {
  color: rgb(58, 58, 58);
  font-size: 28px;
  text-align: center;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card {
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  width: 320px;
  padding: 0 15px;
}
.card img {
  padding: 0 15px;
  margin-top: 10px;
}
.icon-term .icon {
  width: 10px;
  height: 10px;
}
.icon-value p {
  color: rgb(120, 120, 133);
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
}
.rating {
  align-items: center;
  gap: 5px;
}
.arrow-icon {
  display: flex;
  justify-content: right;
  gap: 5px;
}
.arrow-icon p {
  color: #e02c6dde;
}
.arrow-icon img {
  color: #e02c6dde;
}
/* poular-collection-css */
/* feature-css */
.feature {
  justify-content: space-around;
  align-items: center;
  gap: 70px;
  margin-top: 100px;
}
.feature-content {
  width: 60%;
}
/* feature-css */

footer {
  background-color: #0a0826;
  margin-top: 100px;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin: 30px 0;
}
.right,
.copy-footer {
  color: rgb(217, 219, 225);
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
}
/* media -query */
@media screen and (max-width: 540px) {
  .nav-bar,
  .flex {
    flex-direction: column;
  }
  .banner-content {
    flex-direction: column-reverse;
  }
  .banner-content-area {
    width: auto;
  }
  .banner-img img {
    width: 100%;
  }
  main {
    width: 100%;
  }
  .spoonser {
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .spoonser img {
    margin: 15px 0;
  }
  .card-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .card {
    margin: 0 auto;
  }
  .feature {
    margin-top: 40px;
  }
  .footer {
    width: 100%;
  }
}
/* media -query */
